body{
  padding: 0;
  margin: 0;
}
.section{
  height: 300px;
  width:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-desktop,
.hidden-tablet,
.hidden-phone{
  display: none;
}